<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wmw.dao.hr_filterMapper" >
  <!-- 添加 -->
  <insert id="saveFilter" parameterType="wmw.entity.hr_filter">
	   insert into hr_recruit_filter
       (
         PLAN_NO,EMPLOYEE_NAME,POSITION,EMPLOYEE_MAJOR,EMPLOYEE_PHONE,
         TRANSACTOR_STEP,STEP_FLAG,END_FLAG,NEXT_DATE_TIME,NEXT_TRANSA_STEP
       ) 
       values
       (#{planNo},#{employeeName},#{position},#{employeeMajor},#{employeePhone},#{transactorStep},
       #{stepFlag},#{endFlag},#{nextDateTime},#{nextTransaStep}
       )
  </insert>
  <!-- 查询全部 -->
  <select id="selectFilter" resultType="Map" >
     select 
       filter.*,plan.PLAN_NAME
     from
       hr_recruit_filter filter LEFT JOIN hr_recruit_plan plan on filter.PLAN_NO=plan.PLAN_NO
   </select>
   <!-- 根据id查询 -->
   <select id="selectId" resultType="Map" parameterType="int">
     select 
       filter.*,plan.PLAN_NAME
     from
       hr_recruit_filter filter LEFT JOIN hr_recruit_plan plan on filter.PLAN_NO=plan.PLAN_NO
     where FILTER_ID=#{filterId}
   </select>
   <!-- 修改 -->
   <update id="updateFilter"  parameterType="wmw.entity.hr_filter" >
      update hr_recruit_filter 
      <set>
        <if test="planNo != null" >
          PLAN_NO = #{planNo},
        </if>
        <if test="employeeName != null" >
          EMPLOYEE_NAME = #{employeeName},
        </if>
        <if test="position != null" >
          POSITION = #{position},
        </if>
        <if test="employeeMajor != null" >
          EMPLOYEE_MAJOR = #{employeeMajor},
        </if>
        <if test="employeePhone != null" >
          EMPLOYEE_PHONE = #{employeePhone},
        </if>
        <if test="transactorStep != null" >
          TRANSACTOR_STEP = #{transactorStep},
        </if>
        <if test="nextDateTime != null" >
          NEXT_DATE_TIME = #{nextDateTime},
        </if>
        <if test="nextTransaStep != null" >
          NEXT_TRANSA_STEP = #{nextTransaStep},
        </if>
        </set>
        where FILTER_ID=#{filterId}
   </update>
   <!-- 删除 -->
    <delete id="Delete" parameterType="int">
     delete from hr_recruit_filter where FILTER_ID=#{filterId}
   </delete>
   <!-- 初选 -->
   <update id="oneUpdate"  parameterType="wmw.entity.hr_filter" >
        update hr_recruit_filter 
        <set>
        <if test="stepFlag != null" >
          STEP_FLAG = #{stepFlag},
        </if>
        <if test="endFlag != null" >
          END_FLAG = #{endFlag},
        </if>
        <if test="filterMethod1 != null" >
          FILTER_METHOD1 = #{filterMethod1},
        </if>
        <if test="filterDateTime1 != null" >
          FILTER_DATE_TIME1 = #{filterDateTime1},
        </if>
        <if test="firstContent1 != null" >
          FIRST_CONTENT1 = #{firstContent1},
        </if>
        <if test="firstView1 != null" >
          FIRST_VIEW1 = #{firstView1},
        </if>
        <if test="transactorStep1 != null" >
          TRANSACTOR_STEP1 = #{transactorStep1},
        </if>
        <if test="passOrNot1 != null" >
          PASS_OR_NOT1 = #{passOrNot1},
        </if>
        <if test="nextTransaStep1 != null" >
          NEXT_TRANSA_STEP1 = #{nextTransaStep1},
        </if>
        <if test="nextDateTime1 != null" >
          NEXT_DATE_TIME1 = #{nextDateTime1},
        </if>
        </set>
        where FILTER_ID=#{filterId}
   </update>
   
   <!-- 复选 -->
   <update id="twoUpdate"  parameterType="wmw.entity.hr_filter" >
        update hr_recruit_filter 
        <set>
        <if test="stepFlag != null" >
          STEP_FLAG = #{stepFlag},
        </if>
        <if test="endFlag != null" >
          END_FLAG = #{endFlag},
        </if>
        <if test="filterMethod2 != null" >
          FILTER_METHOD2 = #{filterMethod2},
        </if>
        <if test="filterDateTime2 != null" >
          FILTER_DATE_TIME2 = #{filterDateTime2},
        </if>
        <if test="firstContent2 != null" >
          FIRST_CONTENT2 = #{firstContent2},
        </if>
        <if test="firstView2 != null" >
          FIRST_VIEW2 = #{firstView2},
        </if>
        <if test="transactorStep2 != null" >
          TRANSACTOR_STEP2 = #{transactorStep2},
        </if>
        <if test="passOrNot2 != null" >
          PASS_OR_NOT2 = #{passOrNot2},
        </if>
        <if test="nextTransaStep2 != null" >
          NEXT_TRANSA_STEP2 = #{nextTransaStep2},
        </if>
        <if test="nextDateTime2 != null" >
          NEXT_DATE_TIME2 = #{nextDateTime2},
        </if>
        </set>
        where FILTER_ID=#{filterId}
   </update>
</mapper>