<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wmw.dao.hr_recruitmentMapper" >
  <resultMap id="BaseResultMap" type="wmw.entity.hr_recruitment" >
    <id column="RECRUITMENT_ID" property="recruitmentId" jdbcType="INTEGER" />
    <result column="PLAN_NO" property="planNo" jdbcType="INTEGER" />
    <result column="ASSESSING_OFFICER" property="assessingOfficer" jdbcType="VARCHAR" />
    <result column="ASS_PASS_TIME" property="assPassTime" jdbcType="DATE" />
    <result column="DEPARTMENT" property="department" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="JOB_POSITION" property="jobPosition" jdbcType="VARCHAR" />
    <result column="PRESENT_POSITION" property="presentPosition" jdbcType="VARCHAR" />
    <result column="ON_BOARDING_TIME" property="onBoardingTime" jdbcType="DATE" />
    <result column="STARTING_SALARY_TIME" property="startingSalaryTime" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="JOB_STATUS" property="jobStatus" jdbcType="VARCHAR" />
    <result column="APPLYER_NAME" property="applyerName" jdbcType="VARCHAR" />
    <result column="EXPERT_ID" property="expertId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECRUITMENT_ID, PLAN_NO, ASSESSING_OFFICER, ASS_PASS_TIME, DEPARTMENT, TYPE, JOB_POSITION, 
    PRESENT_POSITION, ON_BOARDING_TIME, STARTING_SALARY_TIME, REMARK, JOB_STATUS, APPLYER_NAME, 
    EXPERT_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hr_recruit_recruitment
    where RECRUITMENT_ID = #{recruitmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hr_recruit_recruitment
    where RECRUITMENT_ID = #{recruitmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wmw.entity.hr_recruitment" >
    insert into hr_recruit_recruitment (RECRUITMENT_ID, PLAN_NO, ASSESSING_OFFICER, 
      ASS_PASS_TIME, DEPARTMENT, TYPE, 
      JOB_POSITION, PRESENT_POSITION, ON_BOARDING_TIME, 
      STARTING_SALARY_TIME, REMARK, JOB_STATUS, 
      APPLYER_NAME, EXPERT_ID)
    values (#{recruitmentId,jdbcType=INTEGER}, #{planNo,jdbcType=INTEGER}, #{assessingOfficer,jdbcType=VARCHAR}, 
      #{assPassTime,jdbcType=DATE}, #{department,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{jobPosition,jdbcType=VARCHAR}, #{presentPosition,jdbcType=VARCHAR}, #{onBoardingTime,jdbcType=DATE}, 
      #{startingSalaryTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR}, 
      #{applyerName,jdbcType=VARCHAR}, #{expertId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="wmw.entity.hr_recruitment" >
    insert into hr_recruit_recruitment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recruitmentId != null" >
        RECRUITMENT_ID,
      </if>
      <if test="planNo != null" >
        PLAN_NO,
      </if>
      <if test="assessingOfficer != null" >
        ASSESSING_OFFICER,
      </if>
      <if test="assPassTime != null" >
        ASS_PASS_TIME,
      </if>
      <if test="department != null" >
        DEPARTMENT,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="jobPosition != null" >
        JOB_POSITION,
      </if>
      <if test="presentPosition != null" >
        PRESENT_POSITION,
      </if>
      <if test="onBoardingTime != null" >
        ON_BOARDING_TIME,
      </if>
      <if test="startingSalaryTime != null" >
        STARTING_SALARY_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="jobStatus != null" >
        JOB_STATUS,
      </if>
      <if test="applyerName != null" >
        APPLYER_NAME,
      </if>
      <if test="expertId != null" >
        EXPERT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recruitmentId != null" >
        #{recruitmentId,jdbcType=INTEGER},
      </if>
      <if test="planNo != null" >
        #{planNo,jdbcType=INTEGER},
      </if>
      <if test="assessingOfficer != null" >
        #{assessingOfficer,jdbcType=VARCHAR},
      </if>
      <if test="assPassTime != null" >
        #{assPassTime,jdbcType=DATE},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="jobPosition != null" >
        #{jobPosition,jdbcType=VARCHAR},
      </if>
      <if test="presentPosition != null" >
        #{presentPosition,jdbcType=VARCHAR},
      </if>
      <if test="onBoardingTime != null" >
        #{onBoardingTime,jdbcType=DATE},
      </if>
      <if test="startingSalaryTime != null" >
        #{startingSalaryTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyerName != null" >
        #{applyerName,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null" >
        #{expertId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wmw.entity.hr_recruitment" >
    update hr_recruit_recruitment
    <set >
      <if test="planNo != null" >
        PLAN_NO = #{planNo,jdbcType=INTEGER},
      </if>
      <if test="assessingOfficer != null" >
        ASSESSING_OFFICER = #{assessingOfficer,jdbcType=VARCHAR},
      </if>
      <if test="assPassTime != null" >
        ASS_PASS_TIME = #{assPassTime,jdbcType=DATE},
      </if>
      <if test="department != null" >
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="jobPosition != null" >
        JOB_POSITION = #{jobPosition,jdbcType=VARCHAR},
      </if>
      <if test="presentPosition != null" >
        PRESENT_POSITION = #{presentPosition,jdbcType=VARCHAR},
      </if>
      <if test="onBoardingTime != null" >
        ON_BOARDING_TIME = #{onBoardingTime,jdbcType=DATE},
      </if>
      <if test="startingSalaryTime != null" >
        STARTING_SALARY_TIME = #{startingSalaryTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        JOB_STATUS = #{jobStatus,jdbcType=VARCHAR},
      </if>
      <if test="applyerName != null" >
        APPLYER_NAME = #{applyerName,jdbcType=VARCHAR},
      </if>
      <if test="expertId != null" >
        EXPERT_ID = #{expertId,jdbcType=INTEGER},
      </if>
    </set>
    where RECRUITMENT_ID = #{recruitmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wmw.entity.hr_recruitment" >
    update hr_recruit_recruitment
    set PLAN_NO = #{planNo,jdbcType=INTEGER},
      ASSESSING_OFFICER = #{assessingOfficer,jdbcType=VARCHAR},
      ASS_PASS_TIME = #{assPassTime,jdbcType=DATE},
      DEPARTMENT = #{department,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      JOB_POSITION = #{jobPosition,jdbcType=VARCHAR},
      PRESENT_POSITION = #{presentPosition,jdbcType=VARCHAR},
      ON_BOARDING_TIME = #{onBoardingTime,jdbcType=DATE},
      STARTING_SALARY_TIME = #{startingSalaryTime,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR},
      JOB_STATUS = #{jobStatus,jdbcType=VARCHAR},
      APPLYER_NAME = #{applyerName,jdbcType=VARCHAR},
      EXPERT_ID = #{expertId,jdbcType=INTEGER}
    where RECRUITMENT_ID = #{recruitmentId,jdbcType=INTEGER}
  </update>
</mapper>