<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.PayDao">
<!--pay表添加 -->
<insert id="paySave" parameterType="Pay">
  insert into pay(staff_id,departmentId,tax_salary,insurance,endowment_insurance,medical_insurance,birth_insurance,unemployment_insurance,injury_insurance,housing_fund,B_withhold,endowment_insurance_d,medical_insurance_d,birth_insurance_d,unemployment_insurance_d,injury_insurance_d,housing_fund_d,subvention,Bonus,K_withhold,after_tax_salary,D_withhold,positionId) 
  values(#{staff_id},#{departmentId},#{tax_salary},#{insurance},#{endowment_insurance},#{medical_insurance},#{birth_insurance},#{unemployment_insurance},#{injury_insurance},#{housing_fund},#{B_withhold},#{endowment_insurance_d},#{medical_insurance_d},#{birth_insurance_d},#{unemployment_insurance_d},#{injury_insurance_d},#{housing_fund_d},#{subvention},#{Bonus},#{K_withhold},#{after_tax_salary},#{D_withhold},#{positionId})
</insert>
<!--  查询所有-->
<select id="queryAll" resultType="Map">
 select d.departmentId,d.departmentName,s.staff_id,s.STAFF_NAME,tax_salary,insurance,endowment_insurance,medical_insurance,birth_insurance,unemployment_insurance,injury_insurance,housing_fund,B_withhold,endowment_insurance_d,medical_insurance_d,birth_insurance_d,unemployment_insurance_d,injury_insurance_d,housing_fund_d,subvention,Bonus,K_withhold,D_withhold
from pay p left join staff_info s on p.staff_id=s.staff_id left join department d on p.departmentId=d.departmentId
</select>

<!--check表修改-->
<update id="checkUpdate" parameterType="Check">
  update hr_check set early=#{early},withhold=#{withhold},absent=#{absent}) where check_id=#{check_id}
</update>
<!-- check表单条查询 -->
<select id="queryCheckid" resultType="Check" parameterType="int">
select early,withhold,absent from hr_check where check_id=#{id}
</select>
<!--查询人员的考勤次数,考勤扣款标准  -->
<select id="queryAll2" resultType="Map">
select  d.departmentId,d.departmentName,pp.positionId,pp.positionName,s.staff_id,s.STAFF_NAME,w.absenteeism,w.late,w.early_retreat
from department d 
left join staff_info s on d.departmentId=s.departmentId
left join work_register w on d.departmentId=w.departmentId
left join position pp on d.departmentId=pp.departmentId group by s.staff_id
</select>

<!-- 查询部门职务人事名称 -->
<select id="queryPeo" resultType="Map">
select d.departmentId,d.departmentName,pp.positionId,pp.positionName,s.staff_id,s.STAFF_NAME 
from staff_info s 
left join position pp on s.positionId=pp.positionId
left join department d on pp.departmentId=d.departmentId
</select>

<!-- 单条查询部门职务人事名称 -->
 <select id="queryId" resultType="map">
select  d.departmentId,d.departmentName,pp.positionId,pp.positionName,s.staff_id,s.STAFF_NAME
from  staff_info s
left join position pp on s.positionId=pp.departmentId
left join department d on pp.departmentId=d.departmentId where s.staff_id=#{id}
</select> 


<!-- 报表 -->
<select id="queryAll3" resultType="Map">
select w.welfare_type,w.welfare_monery,w.goods,w.remark,d.departmentName,pp.positionName,s.STAFF_NAME,ww.absenteeism,ww.late,ww.early_retreat,p.tax_salary,p.insurance,p.endowment_insurance,p.medical_insurance,p.birth_insurance,p.unemployment_insurance,p.injury_insurance,housing_fund,p.B_withhold,p.endowment_insurance_d,p.medical_insurance_d,p.birth_insurance_d,p.unemployment_insurance_d,p.injury_insurance_d,p.housing_fund_d,p.subvention,p.Bonus,p.K_withhold,p.after_tax_salary,p.D_withhold
from welfare w
left join department d on w.departmentId=d.departmentId
left join position pp on pp.departmentId=d.departmentId
left join staff_info s on s.departmentId=d.departmentId
left join work_register ww on ww.departmentId=d.departmentId
left join hr_check c on c.work_id=ww.work_id
left join pay p on p.departmentId=d.departmentId group by p.payid
</select>

<!--查询薪资标准  -->
 <select id="queryCheck" resultType="Map">
 select * from hr_check
</select> 



<!-- 查询人员编号 -->
<select id="queryStaffid" resultType="int" parameterType="int">
select staff_id from staff_info where staff_id=#{id}
</select>

<!-- 查询薪资基数表编号 -->
<!-- <select id="queryPay" resultType="int" parameterType="int">
select payid from pay where payid=#{id}
</select> -->
<!-- 修改薪资基数 -->
 <update id="payUpdate" parameterType="Pay">
update pay set tax_salary=#{tax_salary},insurance=#{insurance},subvention=#{subvention},Bonus=#{Bonus},K_withhold=#{K_withhold},after_tax_salary=#{after_tax_salary} where payid=#{payid}
</update> 
<!-- 删除薪资 -->
<delete id="payDelete" parameterType="Pay">
delete from pay where payid=#{payid}
</delete>
<!-- 查询薪资 用来修改 -->
<select id="queryPay" resultType="Map">
select d.departmentId,d.departmentName,pp.positionId,pp.positionName,s.staff_id,s.STAFF_NAME,p.payid,p.tax_salary,p.insurance,p.K_withhold,p.Bonus,p.K_withhold,p.subvention,p.after_tax_salary
from pay p 
left join staff_info s on p.staff_id=s.staff_id 
left join department d on p.departmentId=d.departmentId
left join position pp on  p.positionId=pp.positionId
</select>
<!-- 单条查询详情 -->
<select id="queryPayId" resultType="Map" parameterType="int">
select d.departmentName,pp.positionName,s.STAFF_NAME,p.tax_salary,p.insurance,p.endowment_insurance,p.medical_insurance,p.birth_insurance,p.unemployment_insurance,p.injury_insurance,housing_fund,p.B_withhold,p.endowment_insurance_d,p.medical_insurance_d,p.birth_insurance_d,p.unemployment_insurance_d,p.injury_insurance_d,p.housing_fund_d,p.subvention,p.Bonus,p.K_withhold,p.after_tax_salary,p.D_withhold
from pay p
left join department d on p.departmentId=d.departmentId
left join position pp  on p.positionId=pp.positionId
left join staff_info s on p.staff_id=s.staff_id  where p.payid=#{id}
</select>
</mapper>