<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.hr_recruitmentMapper" >
  <select id="QueryAll" resultType="Map">
     select recru.*,plan.PLAN_NO,plan.PLAN_NAME from  hr_recruit_recruitment recru left join hr_recruit_plan plan on recru.PLAN_NO=plan.PLAN_NO
  </select>
  <!-- 根据id查询 -->
   <select id="QueryId" resultType="Map" parameterType="int">
   select recru.*,plan.PLAN_NO,plan.PLAN_NAME from  hr_recruit_recruitment recru left join hr_recruit_plan plan on recru.PLAN_NO=plan.PLAN_NO
   where RECRUITMENT_ID=#{recruitmentId}
   </select>
   <!-- 修改 -->
   <update id="Update"  parameterType="hr_recruitment" >
      update hr_recruit_recruitment set
     PLAN_NO=#{planNo},ASSESSING_OFFICER=#{assessingOfficer},ASS_PASS_TIME=#{assPassTime},
     DEPARTMENT=#{department},TYPE=#{type},APPLYER_NAME=#{applyerName},
     ON_BOARDING_TIME=#{onBoardingTime},STARTING_SALARY_TIME=#{startingSalaryTime},
     REMARK=#{remark},JOB_STATUS=#{jobStatus}
     where RECRUITMENT_ID=#{recruitmentId}
   </update>
   <delete id="Delete" parameterType="int">
     delete from hr_recruit_recruitment where RECRUITMENT_ID=#{recruitmentId}
   </delete>
   <!-- ,plan.PLAN_NO,plan.PLAN_NAME -->
   <select id="Queryfilter" resultType="Map" parameterType="hr_filter">
      select filter.FILTER_ID,filter.EMPLOYEE_NAME
       from 
      hr_recruit_filter filter LEFT JOIN hr_recruit_plan plan on filter.PLAN_NO=plan.PLAN_NO
        where filter.END_FLAG=1 
        <if test="planNo != null" >
          and filter.PLAN_NO = #{planNo}
        </if>
        <if test="stepFlag = 1" >
         and  filter.PASS_OR_NOT1=1
        </if>
        <if test="stepFlag = 2" >-
          and filter.PASS_OR_NOT2=1
        </if>
   </select>

  <!-- <insert id="" parameterType="" >
    insert into hr_recruit_recruitment (RECRUITMENT_ID, PLAN_NO, ASSESSING_OFFICER, 
      ASS_PASS_TIME, DEPARTMENT, TYPE, 
      JOB_POSITION, PRESENT_POSITION, ON_BOARDING_TIME, 
      STARTING_SALARY_TIME, REMARK, JOB_STATUS, 
      APPLYER_NAME, EXPERT_ID)
    values (#{recruitmentId,jdbcType=INTEGER}, #{planNo,jdbcType=INTEGER}, #{assessingOfficer,jdbcType=VARCHAR}, 
      #{assPassTime,jdbcType=DATE}, #{department,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{jobPosition,jdbcType=VARCHAR}, #{presentPosition,jdbcType=VARCHAR}, #{onBoardingTime,jdbcType=DATE}, 
      #{startingSalaryTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, #{jobStatus,jdbcType=VARCHAR}, 
      #{applyerName,jdbcType=VARCHAR}, #{expertId,jdbcType=INTEGER})
  </insert> -->
  
</mapper>