<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lkm.dao.staff_leaveMapper">
    

	<!-- 离职 -->
 	<resultMap id="leave" type="lkm.entity.staff_leave">
		<id column="LEAVE_ID" property="leaveId" jdbcType="INTEGER" />
		<result column="STAFF_ID" property="staffId" jdbcType="INTEGER" />
    <result column="sta_staff_id" property="staStaffId" jdbcType="INTEGER" />
		<result column="QUIT_TIME_PLAN" property="quitTimePlan"
			jdbcType="TIMESTAMP" />
		<result column="QUIT_TYPE" property="quitType" jdbcType="INTEGER" />
		<result column="LAST_SALARY_TIME" property="lastSalaryTime"
			jdbcType="TIMESTAMP" />
		<result column="QUIT_TIME_FACT" property="quitTimeFact"
			jdbcType="TIMESTAMP" />
		<result column="MATERIALS_CONDITION" property="materialsCondition"
			jdbcType="INTEGER" />
		<result column="DESPACHO_PERSON" property="despachoPerson"
			jdbcType="VARCHAR" />
		<result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime"
			jdbcType="TIMESTAMP" />
		<result column="ATTACHMENT_ID" property="attachmentId"
			jdbcType="INTEGER" />
		<result column="ATTACHMENT_NAME" property="attachmentName"
			jdbcType="VARCHAR" />
		<result column="APPLICATION_DATE" property="applicationDate"
			jdbcType="TIMESTAMP" />
		<result column="SALARY" property="salary" jdbcType="INTEGER" />
		<result column="TEMENT" property="tement" jdbcType="INTEGER" />
		<result column="IS_BLACKLIST" property="isBlacklist" jdbcType="INTEGER" />
		<result column="QUIT_REASON" property="quitReason" jdbcType="LONGVARCHAR" />
		<result column="TRACE" property="trace" jdbcType="LONGVARCHAR" />
		<result column="REMARK" property="remark" jdbcType="LONGVARCHAR" />
		<result column="DESPACHO" property="despacho" jdbcType="LONGVARCHAR" />
	</resultMap>

	<!-- 职务 -->
	<resultMap id="position" type="lkm.entity.position">
		<id column="positionId" property="positionid" jdbcType="INTEGER" />
		<result column="positionName" property="positionname" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 部门 -->
	<resultMap id="department" type="lkm.entity.department">
		<id column="departmentId" property="departmentid" jdbcType="INTEGER" />
		<result column="departmentName" property="departmentname"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 员工 -->
	<resultMap id="staff_info" type="lkm.entity.staff_info">
		<id column="staff_id" property="staffId" jdbcType="INTEGER" />
		<result column="departmentId" property="departmentid" jdbcType="INTEGER" />
		<result column="positionId" property="positionid" jdbcType="INTEGER" />
		<result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
		<result column="WORK_STATUS" property="workStatus" jdbcType="INTEGER" />
	</resultMap>


	<!-- 查询离职表 -->
	<select id="selectleave" resultType="map">
		select
		l.*,p.positionName,p.positionId,d.departmentName,d.departmentId,s.staff_id,s.STAFF_NAME,s.WORK_STATUS
		from staff_leave l
		left join position p on l.positionId=p.positionId
		left join department d on l.departmentId=d.departmentId
		left join
		staff_info s on l.sta_staff_id=s.staff_id
		where s.WORK_STATUS=2 order by l.LEAVE_ID asc
	</select>
	<!-- 查询员工 -->
	<select id="selectstaffinfo" resultMap="staff_info" parameterType="lkm.entity.staff_info">
		select * from staff_info
	</select>
	
	<!-- 查询在职员工 -->
	<select id="selectinfostu" resultMap="staff_info" parameterType="lkm.entity.staff_info">
		select * from staff_info where WORK_STATUS=1
	</select>
	
	<!-- 查询部门 -->
	<select id="selectdepartment" resultMap="department" parameterType="lkm.entity.department">
		select * from department
	</select>

	<!-- 查询职务 -->
	<select id="selectposition" resultMap="position" parameterType="lkm.entity.position">
		select * from position
	</select>

	<!-- 删除 -->
	<delete id="deleteleave" parameterType="java.lang.Integer">
		delete from staff_leave
		where LEAVE_ID = #{leaveId}
	</delete>

	<!-- 修改前查询 -->
	<select id="selectleaveByID" resultMap="leave" parameterType="lkm.entity.staff_leave">
		select * from staff_leave
		where LEAVE_ID = #{leaveId}
	</select>
	
	<!-- //修改 -->
	
	<update id="updateleave" parameterType="lkm.entity.staff_leave" >
    update staff_leave
    set positionId = #{positionid,jdbcType=INTEGER},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      departmentId = #{departmentid,jdbcType=INTEGER},
      sta_staff_id = #{staStaffId,jdbcType=INTEGER},
      QUIT_TIME_PLAN = #{quitTimePlan,jdbcType=TIMESTAMP},
      QUIT_TYPE = #{quitType,jdbcType=INTEGER},
      LAST_SALARY_TIME = #{lastSalaryTime,jdbcType=TIMESTAMP},
      QUIT_TIME_FACT = #{quitTimeFact,jdbcType=TIMESTAMP},
      MATERIALS_CONDITION = #{materialsCondition,jdbcType=INTEGER},
      DESPACHO_PERSON = #{despachoPerson,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      ATTACHMENT_ID = #{attachmentId,jdbcType=INTEGER},
      ATTACHMENT_NAME = #{attachmentName,jdbcType=VARCHAR},
      APPLICATION_DATE = #{applicationDate,jdbcType=TIMESTAMP},
      SALARY = #{salary,jdbcType=INTEGER},
      TEMENT = #{tement,jdbcType=INTEGER},
      IS_BLACKLIST = #{isBlacklist,jdbcType=INTEGER},
      QUIT_REASON = #{quitReason,jdbcType=LONGVARCHAR},
      TRACE = #{trace,jdbcType=LONGVARCHAR},
      REMARK = #{remark,jdbcType=LONGVARCHAR},
      DESPACHO = #{despacho,jdbcType=LONGVARCHAR}
    where LEAVE_ID = #{leaveId,jdbcType=INTEGER}
  </update>
	<!-- //添加 -->
	
	<insert id="insert" parameterType="lkm.entity.staff_leave" >
    insert into staff_leave (LEAVE_ID, positionId, STAFF_ID, 
      departmentId, sta_staff_id, QUIT_TIME_PLAN, 
      QUIT_TYPE, LAST_SALARY_TIME, QUIT_TIME_FACT, 
      MATERIALS_CONDITION, DESPACHO_PERSON, ADD_TIME, 
      LAST_UPDATE_TIME, ATTACHMENT_ID, ATTACHMENT_NAME, 
      APPLICATION_DATE, SALARY, TEMENT, 
      IS_BLACKLIST, QUIT_REASON, TRACE, 
      REMARK, DESPACHO)
    values (#{leaveId,jdbcType=INTEGER}, #{positionid,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, 
      #{departmentid,jdbcType=INTEGER}, #{staStaffId,jdbcType=INTEGER}, #{quitTimePlan,jdbcType=TIMESTAMP}, 
      #{quitType,jdbcType=INTEGER}, #{lastSalaryTime,jdbcType=TIMESTAMP}, #{quitTimeFact,jdbcType=TIMESTAMP}, 
      #{materialsCondition,jdbcType=INTEGER}, #{despachoPerson,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{attachmentId,jdbcType=INTEGER}, #{attachmentName,jdbcType=VARCHAR}, 
      #{applicationDate,jdbcType=TIMESTAMP}, #{salary,jdbcType=INTEGER}, #{tement,jdbcType=INTEGER}, 
      #{isBlacklist,jdbcType=INTEGER}, #{quitReason,jdbcType=LONGVARCHAR}, #{trace,jdbcType=LONGVARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR}, #{despacho,jdbcType=LONGVARCHAR})
  </insert>
		<!-- //修改状态 -->
  <update id="updateStatus" parameterType="lkm.entity.staff_info" >
      UPDATE staff_info SET work_status=2 where staff_id=#{staStaffId}
  </update>
  
	<!-- //添加离职的时候把复职表相同员工的数据删除    delectId -->
	<delete id="delectId" parameterType="java.lang.Integer">
		DELETE from staff_reinstatement
		 where staff_id=#{staffId}
	</delete>
	
	
</mapper>