<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.attend_ruleMapper" >
 <select id="ruleFind" resultType="map">
 select * from attend_rule
 </select>
 <insert id="ruleSave" parameterType="attend_rule">
 insert into attend_rule(overtime_hour,overtime_bonus,late_hour,late_bonus,eraly_hour,early_bonus,one_late_hour,One_eraly_hour)
  values(#{overtime_hour},#{overtime_bonus},#{late_hour},#{late_bonus},#{eraly_hour},#{early_bonus},#{one_late_hour},#{One_eraly_hour})
 </insert>
 <delete id="ruleDelete" parameterType="attend_rule">
 delete from attend_rule where kid=#{kid}
 </delete>
 <update id="ruleUpdate" parameterType="attend_rule">
 update attend_rule set overtime_hour=#{overtime_hour},overtime_bonus=#{overtime_bonus},late_hour=#{late_hour},late_bonus=#{late_bonus},eraly_hour=#{eraly_hour},
 early_bonus=#{early_bonus},one_late_hour=#{one_late_hour},One_eraly_hour=#{One_eraly_hour} where kid=#{kid}
 </update>
 <select id="ruleFindById" parameterType="int" resultType="attend_rule">
 select * from attend_rule where kid=#{kid}
 </select>
</mapper>